@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-dm-sans), sans-serif;
  --font-family-syne: var(--font-syne), sans-serif;
  --color-navy: #0f1f3d;
  --color-brand-blue: #1a56db;
  --color-brand-amber: #f59e0b;
}